body {
  font-family: sans-serif;
}

.videos {
  margin-top: 5px;
  text-align: center;
  height: 50%;

  video {
    width: 49%;
    height: 50vh;
    margin: 3px;
  }
}

.options {
  display: flex;
  position: relative;
  margin: 5px;
  justify-content: space-between;
}

.options-sub {
  display: flex;
}

.small-local-video {
  padding: 0 5px;
  
  video {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.custom-image-uploader {
  padding: 25px 5px 5px 5px;

  .uploader {
    width: 150px;
    margin: 0 10px;
  }

  .image-preview {
    margin-top: -20px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 30px;
    
    img {
      width: 150px;
      height: auto;
      object-fit: cover;
    }
  }
}

.advanced-options {

  .adv-button {
    margin: 5px;
  }
}